@include aoa-bg-series($bg__init,$classes_init);

.about{
    &-s1{
        background-position-x: center!important;
    }
    &-s2{
        background-position-x: center!important;
    }
    &-s3{
        background-position-x: right!important;
    }
}
.blog{
    &-s1{
        background-position-x: center!important;
    }
}
.community{
    &-s1{
        background-position-x: right!important;
    }
    &-s2{
        background-position-x: center!important;
    }
}
.index{
    &-s1{
        background-position-x: 38%!important
    }
}
.reviews{
    &-s1{
        background-position-x: center!important;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}

nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about{
        &-s1,&-s2,&-s3{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
        &-s1,&-s3{
            background-position: right!important;
        }
    }
    .blog,.contact,.index,.reviews{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    .blog,.reviews{
        &-s1{
            background-position: right!important;
        }
    }
    .community{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity: 0.8;
                }
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            opacity:0.9;
        }
    }
}